.carousel-background {
width:100%;
height:700px;    
min-width:100%;
min-height:700px;    
overflow: hidden; 
display: block;    
}

.color1 {
    background:#b92a30;
}

.color2 {
    background:#34c6f5;
}

.color3 {
    background:#b6d554;
}


.texts0 {
    display: table-cell;
    float: none;
    height: 500px;
    vertical-align: middle;
}

.texts1 {
color:#fffafa;
max-width:500px;    
}

.img0 {
    display: table-cell;
    float: none;
    height: 500px;
    vertical-align: middle;
    max-width:95%;
}

.hs1 {
max-width:100%;
}
